app-root {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

nav {
  margin-top: 64px;
}

.spacer {
  flex: 1 1 auto;
}

h1 a {
  color: inherit;
  text-decoration: none;
}
